body {
    font: 14px/1.6 "Microsoft Yahei", "SimSun", "宋体", "Arial", "HELVETICA", "sans-serif", "Tahoma";
    background-color: #fff;
}

ul,
ol {
    list-style: none;
}

.clear {
    overflow: hidden;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#buts {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.box {
    position: absolute;
    z-index: 110;
    background-color: rgba(46, 46, 65, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.box_title_container {
    position: relative;
    left: 50%;
    float: left;
}

.box_title {
    padding: 10px 50px;
    overflow: hidden;
    left: auto;
    right: 50%;
    margin-top: 20px;
    float: left;
    position: relative;
    /*相对自身宽度*/
    height: 120px;
}

.box_title img {
    height: 80px;
    float: left;
    margin-top: 21px;
}

.box_title .time {
    float: left;
    margin-left: 40px;
}

.box_title .time span {
    text-align: right;
    display: block;
    font-size: 30px;
}

.box_title .time span:first-child {
    font-size: 44px;
}

.box_tool {
    left: 10px;
    top: 10px;
    list-style: none;
}

.box_tool li span {
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6)
}

.tool_btn {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px;
    height: 80px;
    position: relative;
    padding: 10px 0;
}
.tool_btn.on,
.tool_product_list li.on{
    background-color: rgba(8, 8, 9, 0.6);
}

.tool_top {
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.tool_brush,
.tool_hand,
.tool_changemap {
    float: left;
    position: relative;
    width: 100%;
    padding: 0;
    background-size: 80px auto;
    background-position: center center;
}

.tool_brush:after,
.tool_hand:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 92%;
    background-image: url(../img/tool_split.png);
    background-size: 100%;
}

.tool_hand {
    background-image: url(../img/tool_hand.png);
}
.tool_brush {
    border-radius: 0 5px 0 0;
    background-image: url(../img/tool_brush.png);
}
.tool_changemap {
    border-radius: 0 0 5px 0;
    background-image: url(../img/tool_changemap.png);
}

#map_container {
    z-index: 1;
}

#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 109;
}

.box_player {
    bottom: 10px;
    left: 110px;
    overflow: hidden;
    background-color: transparent;
}

.player_btn {
    width: 100px;
    height: 100px;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(46, 46, 65, 0.8) url(../img/btn_play.png) center center no-repeat;
    background-size: cover;
}

.player_btn.playing {
    background-image: url(../img/btn_pause.png);
}

.player_progressbar_wrap {
    float: left;
    width: 800px;
}

.player_progressbar {
    width: 90%;
    height: 20px;
    margin: 0px auto;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    border-radius: 10px;
}

.player_progressbar_progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(45, 146, 209, 0.7);
    border-radius: 10px;
}

.player_progressbar_flag {
    position: absolute;
    right: -30px;
    top: -20px;
    width: 60px;
    height: 60px;
    background: url(../img/btn_play_flag.png) no-repeat;
    background-size: cover;
}

.legend {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 102;
    font-size: 0;
}

.legend img {
    zoom: 0.6;
}

.load_progress_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    margin-top: -80px;
    width: 200px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    z-index: 102;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    display: none;
}

.load_progress_wrap.show {
    display: block;
}

#btn_close {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -150px;
    width: 300px;
    height: 40px;
    z-index: 1001;
}

.map_label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 5px;
}

.map_label span {
    position: absolute;
    width: 100px;
    margin-left: -50px;
    margin-top: -15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
}

.map_label.level_5 span {
    font-size: 12px;
}

.map_label.level_4 span {
    font-size: 10px;
}

.btn_typhoon_list {
    position: fixed;
    z-index: 111;
    left: 110px;
    bottom: 10px;
}

.btn_typhoon {
    float: left;
    color: white;
    position: relative;
    min-width: 80px;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    margin-right: 18px;
}

.btn_typhoon:after {
    content: '';
    background: url(../img/typhoon_no.png) center center no-repeat;
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-size: 100% auto;
}

.btn_typhoon.on:after {
    background-image: url(../img/typhoon_yes.png);
}

.typhoon_list {
    right: 10px;
    top: 10px;
    text-align: center;
    font-size: 30px;
}

.typhoon_list li {
    margin: 0 5px;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.typhoon_list li:last-child {
    border-bottom: 0;
}


/*风圈半径 {*/

.wind_radiu {
    /*position: absolute;
	z-index: 901;
	left: 200px;
	top: 200px;*/
    /*background: blue;*/
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
}

.wind_radiu div {
    position: absolute;
    overflow: hidden;
}

.wind_radiu .radiu:after {
    box-sizing: border-box;
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 200%;
    background-color: rgba(0, 0, 0, 0.1);
}

.wind_radiu .radiu_en {
    width: 50px;
    height: 50px;
    left: 50%;
    bottom: 50%;
}

.wind_radiu .radiu_en:after {
    left: -100%;
    top: 0;
}

.wind_radiu .radiu_es {
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
}

.wind_radiu .radiu_es:after {
    left: -100%;
    top: -100%;
}

.wind_radiu .radiu_wn {
    width: 60px;
    height: 60px;
    right: 50%;
    bottom: 50%;
}

.wind_radiu .radiu_wn:after {
    left: 0;
    top: 0;
}

.wind_radiu .radiu_ws {
    width: 100px;
    height: 100px;
    right: 50%;
    top: 50%;
}

.wind_radiu .radiu_ws:after {
    left: 0;
    top: -100%;
}

.line_up {
    height: 10px;
    left: 50%;
    top: 50%;
    margin-top: -60px;
}

.line_down {
    height: 60px;
    left: 50%;
    top: 50%;
    margin-top: 40px;
}

.line_right {
    width: 10px;
    left: 50%;
    top: 50%;
    margin-left: 40px;
}

.line_left {
    width: 40px;
    top: 50%;
    right: 50%;
    margin-right: 60px;
}

.level7 .line_up,
.level7 .line_down {
    border-left: 2px solid #a1318d;
}

.level7 .line_right,
.level7 .line_left {
    border-top: 2px solid #a1318d;
}

.level7 .radiu:after {
    border: 2px solid #a1318d;
}

.level10 .line_up,
.level10 .line_down {
    border-left: 2px solid #ee731a;
}

.level10 .line_right,
.level10 .line_left {
    border-top: 2px solid #ee731a;
}

.level10 .radiu:after {
    border: 2px solid #ee731a;
}

.level12 .line_up,
.level12 .line_down {
    border-left: 2px solid yellow;
}

.level12 .line_right,
.level12 .line_left {
    border-top: 2px solid yellow;
}

.level12 .radiu:after {
    border: 2px solid yellow;
}

/*风圈半径 }*/

.wind_level {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

.wl_1 {
    background-image: url(../img/level_1.png);
}

.wl_2 {
    background-image: url(../img/level_2.png);
}

.wl_3 {
    background-image: url(../img/level_3.png);
}

.wl_4 {
    background-image: url(../img/level_4.png);
}

.wl_5 {
    background-image: url(../img/level_5.png);
}

.wl_6 {
    background-image: url(../img/level_6.png);
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

.rotate {
    -webkit-animation-name: 'rotate';
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    /*-webkit-animation-direction: alternate;*/
}

.typhoon_icon {
    width: 30px;
    height: 30px;
}

.typhoon_icon .rotate {
    width: 100%;
    height: 100%;
    background-image: url(../img/typhoon.png);
    background-size: 100%;
    -webkit-animation-duration: 0.7s;
}

.popup {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    position: relative;
    text-align: center;
    min-width: 80px;
    margin-left: 28px;
    color: #000;
    font-size: 15px;
    padding: 3px;
    margin-top: -6px;
    float: left;
    white-space: nowrap;
}

.popup span {
    position: absolute;
    width: 16px;
    height: 16px;
    overflow: hidden;
    left: -16px;
    top: 50%;
    margin-top: -8px;
}

.popup span:after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transform: rotate(27deg) skewX(-36deg);
    ;
    width: 100%;
    height: 100%;
    left: 11px;
}

.typhoon_icon .popup {
    margin-left: 40px;
    margin-top: -30px;
}

.wrap_typhoon_chart {
    width: 70%;
    height: 60%;
    left: 15%;
    top: 20%;
    z-index: 108;
    display: none;
}

#btn_close_typhoon_chart,
.box_btn_close {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    background: url(../img/btn_close.png) center center no-repeat;
    background-size: 100%;
    cursor: pointer;
    z-index: 902;
}

#typhoon_chart {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
}

#btn_close_typhoon_chart:hover,
.box_btn_close:hover {
    -webkit-animation-name: 'rotate';
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
}

.typhoon_name {
    position: absolute;
    width: 500px;
    font-size: 30px;
    text-align: center;
    left: 50%;
    margin-left: -250px;
    margin-top: 10px;
}

.unit {
    color: white;
    position: absolute;
    left: 50px;
    top: 70px;
    font-size: 16px;
}


/*rewrite*/

.leaflet-canvas1,
.leaflet-canvas2,
.leaflet-canvas3,
.box_title_container,
.box_player,
.leaflet-control-zoom,
.preload {
    display: none;
}

.box_title .time {
    display: none;
}

#video_player {
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    z-index: 901;
    padding: 5px;
    display: none;
}

.btn_close_video {
    right: 5px;
    top: 5px;
    left: auto;
}

.station {
    width: 80px;
    height: 80px;
    background-color: #E7410D;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    border: 1px solid white;
    font-size: 22px;
}

.station_aqi {
    color: black;
    font-size: 14px;
    display: table;
}

.station_aqi p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: -3px;
}

.aqi_you {
    background-image: url(../img/aqi/you.png);
}

.aqi_liang {
    background-image: url(../img/aqi/liang.png);
}

.aqi_qingdu {
    background-image: url(../img/aqi/qingdu.png);
}

.aqi_zhongdu {
    background-image: url(../img/aqi/zhongdu.png);
}

.aqi_zhongduwuran {
    background-image: url(../img/aqi/zhongduwuran.png);
}

.aqi_yanzhong {
    background-image: url(../img/aqi/yanzhong.png);
}

#aqi_panel {
    position: fixed;
    z-index: 901;
    left: 50%;
    top: 50%;
    width: 800px;
    height: 330px;
    padding: 10px;
    margin-left: -410px;
    margin-top: -175px;
    display: none;
}

.btn_close_aqi {
    right: 5px;
    top: 5px;
    left: auto;
}

.aqi_location {
    background: url(../img/dingwei.png) no-repeat;
    text-indent: 35px;
    color: white;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    margin-left: 10px;
}

.aqi_val_level {
    width: 280px;
    margin-left: 60px;
    margin-right: 20px;
    display: table-cell;
}

.aqi_val {
    font-size: 100px;
    margin-right: 10px;
}

.aqi_wrap {
    display: table;
}

.aqi_level {
    position: relative;
    min-width: 90px;
    border-radius: 3px;
    background-color: red;
    height: 42px;
    bottom: -80px;
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 40px;
}

.aqi_level:after {
    content: 'AQI';
    position: absolute;
    top: -44px;
    color: rgba(255, 255, 255, 0.5);
    left: 50%;
    margin-left: -37px;
}

.aqi_info {
    width: 33%;
    text-align: center;
    font-size: 18px;
}

.aqi_desc {
    width: 400px;
    font-size: 18px;
    margin: 0;
    vertical-align: middle;
    display: table-cell;
}

.aqi_info div {
    width: 80px;
    height: 80px;
    border: 6px solid rgb(0, 228, 0);
    border-radius: 46px;
    display: table;
    margin: 5px auto;
}

.aqi_info div p {
    display: table-cell;
    vertical-align: middle;
}

.aqi_info_wrap {
    width: 90%;
    margin: 0 auto;
}

.box_dialog {
    display: fixed;
    left: 50%;
    top: 50%;
    display: none;
}

.box_btn_close {
    right: 5px;
    top: 5px;
    left: auto;
}

#tongji_panel {
    width: 600px;
    height: 300px;
    margin-left: -330px;
    margin-top: -160px;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
}

.tongji_desc em {
    color: orange;
    font-style: normal;
}

.tongji_bar_wrap {
    width: 25%;
    height: 120px;
    float: left;
    display: table;
    position: relative;
}

.tongji_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.tongji_bar_wrap p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tongji_desc {
    padding: 10px 20px;
}

.tongji_title {
    text-align: center;
    margin: 10px;
}

.tongji_bar_container {
    height: 120px;
}


.tool_wrap{
    position: fixed;
    top: 30px;
    bottom: 30px;
    z-index: 905;
    height: auto;
    width: 80px;
}
.tool_set_top,
.tool_set_bottom{
    position: absolute;
    width: 100%;
    background-size: 100% 100%;
    border-radius: 0px 5px 5px 0;
}
.tool_set_top{
    top: 0;
    bottom: 250px;
    height: auto;
    background-image: url(../img/bg_tools_top.png);
}
.tool_set_bottom{
    bottom: 0;
    height: 240px;
    background-image: url(../img/bg_tools_bottom.png);
}

.tool_arrow_top,
.tool_arrow_bottom{
    position: absolute;
    width: 100%;
    height: 24px;
    background: url(../img/bg_tools_arrow.png) no-repeat;
    cursor: pointer;
}
.tool_arrow_top{
    top: 10px;
    background-position: center 0;
}
.tool_arrow_bottom{
    bottom: 10px;
    background-position: center -45px;
}
.tool_set_top_wrap{
    position: absolute;
    top: 40px;
    bottom: 40px;
    height: auto;
    width: 100%;
    overflow-y: hidden;
}
.tool_product_list li{
    cursor: pointer;
    width: 100%;
    height: 50px;
    /*background-color: red;*/
    margin: 5px auto;
    text-align: center;
    position: relative;
}
.tool_product_list li img{
    width: 50px;
    height: 50px;
}

.tool_tip{
    position: absolute;
    left: 100px;
    top: 10px;
    min-width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-size: cover;
    color: #000;
    background-color: #ADB7C6;
    border-radius: 0 3px 3px 0;
    white-space:nowrap;
    padding: 0 4px;
    display: none;
}
.tool_tip:after{
    content: '';
    position: absolute;
    background: url(../img/bg_tool_tip.png) no-repeat left center;
    width: 10px;
    height: 10px;
    left: -10px;
    top: 50%;
    margin-top: -5px;
}
.guardLine_24,
.guardLine_48{
    padding-left: 4px;
    padding-top: 60px;
    font-size: 14px;
}
.guardLine_24{
    color: orange;
}
.guardLine_48{
    color: green;
}

/*rewrite leaflet style {*/
.leaflet-control-layers-toggle{
    background: none;
}
.leaflet-control-layers{
    display: none;
}
/*rewrite leaflet style }*/