.wrap_product{
    font-size: 16px;
    position: absolute;
    top: 20px;
    bottom: 60px;
    height: auto;
    width: auto;
    left: 20px;
    right: 20px;
    border-bottom: 1px solid #4a4a4a;
    overflow: auto;
}
#contentProduct ul{
    padding-left: 20px;
    overflow: hidden;
}
#contentProduct ul ul li{
    float: left;
    margin: 5px;
    font-size: 14px;
}
.btn_add_big{
    width: 100px;
    font-size: 16px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    margin-left: -50px;
}

.ui-state-highlight{
    box-sizing: border-box;
    border: 1px dashed #ccc;
    height: 40px;
    background: none;
    min-width: 100px;
}
.wrap_user{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
}
.wrap_user .row{
    width: 100%;
    margin: 30px 0;
}
.wrap_user .text_user{
    width: 100%;
    padding: 8px 5px;
    border-radius: 6px;
}
#btnLogin{
    padding: 6px 16px;
}
#btnRegister{
    float: right;
    color: white;
    text-decoration: none;
}
#btnRegister:hover{
    text-decoration: underline;
}
.loginedInfo{
    display: none;
    width: 90%;
    line-height: 30px;
    font-size: 16px;
    text-indent: 30px;
    margin: 10px auto;
}
.loginedInfo .checkbox{
    text-indent: 0;
    font-size: 14px;
    line-height: 20px;
}
.btns{
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}
.btns input[type=button] {
    width: 100px;
    padding: 4px 5px;
}
#btnReLogin{
    padding: 4px 10px;
    display: block;
    margin: 10px auto;
}
.cb_menu{
    position: absolute;
    bottom: 20px;
    left: 50px;
    display: none;
}
.remote{
    display: none;
}
.useRemote .p_list{
    display: none;
}
.useRemote .remote{
    display: block;
    position: relative;
}
.useRemote .remote:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.1);
}

#text_listence{
    width: 90%;
    margin: 10px auto;
    display: block;
    height: 80%;
}
#btnLicence{
    display: block;
    margin: 0 auto;
    padding: 3px 10px;
}